        #panels {
            max-width: 500px;
        }

        .panel,
        #dtmf_keypad {
            display: none;
        }

        #setting .server {
            background: lightgray;
        }

        #setting .account {
            background: #A5ECEC;
        }

        #keypad_table {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            text-align: center;
            margin: 10px auto;
        }

        #keypad_table tr td {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000000;
            font-size: 18px;
            font-weight: bold;
            width: 40px;
            height: 30px;
            cursor: pointer;
            background-color: #666666;
            color: #CCCCCC;
        }

        #keypad_table tr td:hover {
            background-color: #999999;
            color: #FFFF00;
        }

        #hangup_btn,
        #cancel_outgoing_call_btn,
        #reject_btn {
            background-color: lightpink;
            border-color: lightpink;
        }

        #accept_audio_btn {
            background-color: lightgreen;
            border-color: lightgreen;
        }

        #redirect_btn {
            background-color: lightskyblue;
            border-color: lightskyblue;
        }

        #notification_permission_btn {
            display: none;
        }

        .mark_invalid:invalid {
            color: red;
        }
